html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
  padding-bottom: 50px;
}

h2{
	margin-top: 40px;
}

pre.prettyprint{
	background-color: #fff !important;
    border: 1px solid #ccc !important;
	padding-left: 20px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

pre {
    tab-size: 4 !important;
}

hr{
	border-top: 1px solid #ccc;
}

.doco-right{
	border-left: 1px solid #ccc;
	padding-left: 40px;
}

.doc-examples{
	margin-top: 20px;
}

.jumbotron{
	padding-left: 15px !important;
}