<div class="row">
	<form action="/search" method="post">
		<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div class="input-group">
				<input type="text" name="frm_search" class="form-control input-lg" placeholder="Search the knowledge base">
				<span class="input-group-btn">
					<button class="btn btn-primary btn-lg" type="submit">Search</button>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<h2 style="padding-bottom: 25px;padding-top: 15px;">{{result.kb_title}}</h2>
		<p class="body_text">{{{kb_body}}}</p>
		<h5 style="padding-top:50px;">
			{{{split_keywords result.kb_keywords}}}
		</h5>
	</div>
</div>